<h1><%= @projects.length %> Projects</h1>

<ul>
	<% @projects.each do |project| %>
	<li> 
		<%= project.name  %> | 
		<%= project.description %> | 
		<%= number_to_currency(project.target_pledge_amount) %>
	</li>
	<% end %>
</ul>