<aside style='float:right; width: 200px; background: lightgray;'>
		<nav>
			<ul style='list-style-type: none; float: right;'>
				<li> 
					<%= link_to 'All Projects', projects_path %> 
				</li>
				<li> 
					<%= link_to 'New Project', new_project_path %>
				</li>
			</ul>
		</nav>
	</aside>